@model ProductsViewModel

<div class="top-border">
    <div class="row ms-5 me-5 mt-3">
        <div class="col-12">
            <h3>Beheer</h3>
            <p class="main-info-text">
                <span>Welkom</span> <span class="colored"> @User.Identity.Name</span> <span>
                    ! Op deze pagina kan je nieuwe producten aanmaken en
                    bestaande bewerken en verwijderen. Ook kan dit gedaan worden voor pakketten als je links
                    in de navigatie op pakketten klikt.
                </span>
            </p>
        </div>


        <div class="admin-panel col-2 mt-3 ms-2 me-5 p-4" style="min-height:590px;">
            <h5>Navigatie</h5>
            <hr />

            <ul class="list">
                <li><a class="admin-link" asp-action="AdminPanel" asp-controller="Packet">Pakketten</a></li>
                <ul class="list">
                    <li><a class="admin-link" asp-action="AdminPanelKantine" asp-controller="Packet">Mijn kantine</a></li>
                </ul>
                <li><a class="admin-link" asp-action="AdminPanelProducts" asp-controller="Product">Producten</a></li>
            </ul>
        </div>

        <div class="admin-panel col-9 mt-3 p-4">
            <h5>Producten</h5>
            <hr />

            <div class="row filter ms-0 me-0 p-3">
                <div class="col-9">
                    <input class="form-input" type="text" placeholder="Zoek hier naar producten" style="max-width: 50%;"/>
                </div>
                
                <div class="col-3">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="button-darkgreen" data-bs-toggle="modal" data-bs-target="#create-product">
                            <span>Maak Product</span>
                        </button>
                        <partial name="ProductCreateModal" model="new Product {}" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mt-2" style="overflow-y: scroll; height:375px;">
                    @foreach (var p in Model.Products) {
                        <div class="col-12 product-admin p-0">
                            <img class="box-icon shadow" src="@p.Image" style="max-height:75px;" />
                            <div class="packet-text ps-3 pe-2">
                                <h5>@p.Name</h5>
                            </div>

                            <div class="packet-right">
                                <button type="button" class="modal-button" data-bs-toggle="modal" data-bs-target="#@p.Name.Replace(" ", "")">
                                    <img class="admin-icon" src="@Url.Content("~/images/edit.png")" />
                                </button>

                                <button type="button" class="modal-button" data-bs-toggle="modal" data-bs-target="#@p.Name.Replace(" ", "")delete">
                                    <img class="admin-icon" src="@Url.Content("~/images/delete.png")" />
                                </button>
                            </div>
                            <partial name="ProductUpdateModal" model="new Product { Id = p.Id, Name = p.Name, Image = p.Image, HasAlcohol = p.HasAlcohol}" />
                            <partial name="ProductDeleteModal" model="p" />

                        </div>
                        <hr />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
