@model StudentPacketsViewModel
@{
}

<head>
    <title>Profiel</title>
</head>

<div class="top-border p-5">
    <div class="row">
        <div class="col-10">
            <h3>Profiel</h3>
            <p>
                <span>Welkom</span> <span class="colored"> @Model.Student.Name</span>!
                Dit is je persoonlijke pagina, hier kan je je gegevens aanpassen. <br />
                Ook kan je hier je gereserveerde pakketten vinden zodat je weet wanneer je ze op kan halen!
            </p>
        </div>
        
        <div class="col-2">
            <div class="d-flex justify-content-end">
                <form asp-action="Logout" asp-controller="Account">
                    <button type="submit" class="button-darkgreen"><span>Uitloggen</span></button>
                </form>
            </div>
        </div>
    </div>

    <div class="row filter p-4">
        <form>
            <div class="col-11 pb-2">
                <h5>Gegevens<img class="info-icon" src="@Url.Content("~/images/info.png")" />
                    <span class="tooltiptext">Gegevens zoals email adres en studenten nummer kunnen niet aangepast worden.</span>
                </h5>
            </div>
        
            <div class="row profile-row gy-2">
                <div class="col-6 input-wrap">
                    <label>Email adres</label><br />
                    <input type="email" class="form-input" placeholder="@Model.Student.EmailAddress" disabled/>
                </div>

                <div class="col-6 input-wrap">
                    <label>Naam</label><br />
                    <input type="text" class="form-input" placeholder="@Model.Student.Name" disabled/>
                </div>
        
                <div class="col-6 pt-3 input-wrap">
                    <label>Studenten nummer</label><br />
                    <input type="text" class="form-input" placeholder="@Model.Student.StudentNumber" disabled />
                </div>

                <div class="col-6 pt-3 input-wrap">
                    <label>Telefoon nummer</label><br />
                    <input type="text" class="form-input" placeholder="@Model.Student.PhoneNumber" disabled/>
                </div>

                <div class="col-6 pt-3 input-wrap">
                    <label>Geboorte datum</label><br />
                    @Html.TextBox("datepicker", Model.Student.BirthDate.Value ,"{0:yyyy-MM-dd}",new{ type="date", @class="datepicker" })
                </div>

                <div class="col-6 select-wrap mt-4 ms-2">
                    <label for="city">Stad</label>
                    <select name="city" id="city" style="width: 100%;" disabled>
                        <option style="display:none"></option>
                        <option value="BREDA">Breda</option>
                        <option value="DENBOSCH">Den Bosch</option>
                        <option value="TILBURG">Tilburg</option>
                    </select>
                </div>
            </div>

            <div class="row pt-3">
                <div class="col">
                    <button type="submit" class="button-disabled" disabled><span>Opslaan</span></button><img class="info-icon" src="@Url.Content("~/images/info.png")" />
                    <span class="tooltiptext">Deze functie is op dit moment niet beschikbaar.</span>
                </div>
            </div>
        </form>
    </div>

    <div class="row pt-4 gy-3">
        <h4>Gereserveerde pakketten</h4>
        <hr />
        <div class="reserverd-packets" style="overflow-y: scroll; height:400px; max-width:99%; border-bottom: 1px solid grey;">
            @foreach (var p in Model?.Packets ?? Enumerable.Empty<Packet>())
            {
                <div class="col-12 packet p-0 p-lg-3">
                    <img class="box-icon shadow" src="@Url.Content("~/images/Box.png")" />
                    <div class="packet-text ps-3 pe-2">
                        <h5>@p.Name (@Model.fs.FormatDateTime(@p.PickUpTime.Value))</h5>
                        <p class="packet-text-info">
                            Bestaat onder andere uit: <br />
                            @for (int i = 0; i < p.Products.Count(); i++)
                            {
                                if (i < 2)
                                {
                                    <span>@p.Products.ElementAt(i).Name, </span>
                                }

                                if (i == 3)
                                {
                                    <span>@p.Products.ElementAt(i).Name...</span>
                                }
                            }
                        </p>
                        <p class="packet-text-info2 mb-0 mt-2">
                            @for (int i = 0; i < p.Products.Count(); i++)
                            {
                                if (i < 1)
                                {
                                    <span>@p.Products.ElementAt(i).Name, </span>
                                }

                                if (i == 2)
                                {
                                    <span>@p.Products.ElementAt(i).Name...</span>
                                }
                            }

                        </p>
                        <p class="price mb-0">Prijs: €@p.Price</p>
                    </div>

                    <div class="packet-right">
                        <div class="pt-4 pt-md-2">
                            <p>Prijs: €@p.Price</p>
                            <a asp-controller="Packet" asp-action="Packets" asp-route-id="@p.Id" class="button-green shadow smaller"><span>Details</span></a>
                        </div>
                    </div>
                </div>
                <hr />
            }
        </div>
    </div>
</div>