@model EmployeePacketsProductsViewModel

<head>
    <title>Beheer</title>
</head>

<div class="top-border">
    <div class="row ms-5 me-5 mt-3">
        <div class="col-12">
            <h3>Beheer</h3>
            <p class="main-info-text">
                <span>Welkom</span> <span class="colored"> @Model.Employee.Name</span> <span>! Op deze pagina kan je nieuwe pakketten aanmaken en
                bestaande bewerken en verwijderen. Ook kan dit gedaan worden voor producten als je links
                    in de navigatie op producten klikt.
                </span>
            </p>
        </div>


        <div class="admin-panel col-2 mt-3 ms-2 me-5 p-4" style="min-height:590px;">
            <h5>Navigatie</h5>
            <hr />

            <ul class="list">
                <li><a class="admin-link" asp-action="AdminPanel" asp-controller="Packet">Pakketten</a></li>
                <ul class="list">
                    <li><a class="admin-link" asp-action="AdminPanelKantine" asp-controller="Packet">Mijn kantine</a></li>
                </ul>
                <li><a class="admin-link" asp-action="AdminPanelProducts" asp-controller="Product">Producten</a></li>
            </ul>
        </div>

        <div class="admin-panel col-9 mt-3 p-4">
            <h5>Pakketten</h5>
            <div class="d-flex justify-content-end">
                @if (ViewBag.PacketError != null)
                {
                    <span class="text-danger">@ViewBag.PacketError</span>
                }
            </div>
            <hr />
            
            <div class="row filter ms-0 me-0 p-3">
                <div class="col-3">
                    <input class="form-input" type="text" placeholder="Zoek hier naar pakketten"/>
                </div>
                <div class="col-3">
                    <div class="select-wrap">
                        <label for="mealtype">Type Maaltijd</label>
                        <select name="mealtype" id="mealtype" style="width: 100%;">
                            <option style="display:none"></option>
                            <option value="warm">Warm</option>
                            <option value="drinks">Dranken</option>
                            <option value="bread">Brood</option>
                        </select>
                    </div>
                </div>

                <div class="col-2">
                    <div class="select-wrap">
                        <label for="city">Stad</label>
                        <select name="city" id="city" style="width: 100%;">
                            <option style="display:none"></option>
                            <option value="Breda">Breda</option>
                            <option value="Den Bosch">Den Bosch</option>
                            <option value="Tilburg">Tilburg</option>
                        </select>
                    </div>
                </div>

                <div class="col-2">
                    <div class="d-flex align-content-center mt-2">
                        <form asp-action="FilterPackets" asp-controller="Packet">
                            <button type="submit" class="modal-button">
                                <img class="admin-icon" src="@Url.Content("~/images/search.png")" />
                            </button>
                        </form>
                    </div>
                </div>

                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="button-darkgreen" data-bs-toggle="modal" data-bs-target="#packet-create">
                            <span>Maak Pakket</span>
                        </button>
                        <partial name="PacketCreateModal" model="new EmployeePacketProductsViewModel { Employee = Model.Employee, Packet = ViewBag.Packet ?? new Packet() { Products = new List<Product>()}, Products = Model.Products.ToList()}" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    @foreach (var p in Model?.Packets ?? Enumerable.Empty<Packet>())
                    {
                        <div class="col-12 packet p-0 p-lg-3">
                            <img class="box-icon shadow" src="@Url.Content("~/images/Box.png")" style="max-height:100px;"/>
                            <div class="packet-text ps-3 pe-2">
                                <h5>@p.Name (@p.FormatDateTime((DateTime) p.PickUpTime))</h5>
                            </div>

                            <div class="packet-right">
                                <button type="button" class="modal-button" data-bs-toggle="modal" data-bs-target="#@p.Name.Replace(" ", "")">
                                    <img class="admin-icon" src="@Url.Content("~/images/edit.png")" />
                                </button>

                                <button type="button" class="modal-button" data-bs-toggle="modal" data-bs-target="#@p.Name.Replace(" ", "")delete">
                                    <img class="admin-icon" src="@Url.Content("~/images/delete.png")" />
                                </button>
                            </div>
                        </div>
                        <hr />

                        <partial name="PacketEditModal" model="new EmployeePacketProductsViewModel { Employee = Model.Employee, Packet = p, Products = Model.Products.ToList()}" />

                        <partial name="PacketDeleteModal" model="p" />

                    }
                </div>
            </div>
        </div>
    </div>
</div>



