@model PacketProductsViewModel
@{
    int ProductCount = 0;
}
<head>
    <title>Beheer</title>
</head>

<div class="modal fade" id="packet-create" tabindex="-1" aria-labelledby="packet-create" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Maak een nieuw pakket aan
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Html.BeginForm("CreatePacket", "Packet", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6 input-wrap">
                            <label asp-for="@Model.Packet.Name">Naam</label><br />
                            <input asp-for="@Model.Packet.Name" type="text" class="form-input" value="" />
                        </div>
                        <div class="col-6 input-wrap">
                            <label asp-for="@Model.Packet.Price">Prijs</label><br />
                            <input asp-for="@Model.Packet.Price" type="text" class="form-input" value="" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-6">
                            <div class="select-wrap">
                                <label asp-for="@Model.Packet.MealType" for="mealtype">Type Maaltijd</label>
                                <select asp-for="@Model.Packet.MealType" asp-items="@ViewBag.MealTypeChoices" style="width: 100%;"></select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="select-wrap">
                                <label asp-for="@Model.Packet.City" for="city">Stad</label>
                                <select asp-for="@Model.Packet.City" asp-items="@ViewBag.CityChoices" style="width: 100%;"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="select-wrap">
                                <label asp-for="@Model.Packet.CanteenId" for="canteen">Kantine</label>
                                <select asp-for="@Model.Packet.CanteenId" asp-items="@ViewBag.LocationChoices" style="width: 100%;"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 input-wrap">
                            <label asp-for="@Model.Packet.PickUpTime">Ophaal datum</label><br />
                            <input asp-for="@Model.Packet.PickUpTime" type="date" class="datepicker" value="" />
                        </div>
                        <div class="col-6 input-wrap">
                            <label asp-for="@Model.Packet.LastestPickUpTime">Ophalen tot</label><br />
                            <input asp-for="@Model.Packet.LastestPickUpTime" type="date" class="datepicker" value="" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="col-lg-12">
                                <input asp-for="@Model.Packet.ContainsAlcohol" type="checkbox" class="contains-alcohol"/>
                                <label asp-for="@Model.Packet.ContainsAlcohol" for="checkbox">Bevat alcohol</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-10">
                            <input class="form-input" type="text" placeholder="Zoek hier naar producten" style="width: 99%;" />
                        </div>
                        <div class="col-1 mt-2">
                            <button type="submit" class="modal-button">
                                <img class="admin-icon-smaller" src="@Url.Content("~/images/search.png")" />
                            </button>
                        </div>
                        <div class="col-12 mt-2" style="overflow-y: scroll; height:285px;">
                            @foreach (var product in Model.Products.ToList())
                            {
                                if (product != null) {
                                    <div class="col-12 product-admin p-0">
                                        <img class="box-icon shadow" src="@product.Image" style="max-height:75px;" />
                                        <div class="packet-text ps-3 pe-2">
                                            <h5>@product.Name</h5>
                                        </div>

                                        <div class="packet-right">
                                            <button class="modal-button add-product" type="submit">
                                                <img class="admin-icon" src="@Url.Content("~/images/plus.png")" />
                                            </button>
                                        </div>


                                    </div>
                                    <hr />
                                }
                                
                            }
                            @if (true) {
                                Model.Packet.Products.Add(Model.Products.ElementAt(0));
                            }
                            <input asp-for="@Model.Packet.Products[0].Id" type="hidden">
                            <input asp-for="@Model.Packet.Products[0].Name" type="hidden">
                            <input asp-for="@Model.Packet.Products[0].Image" type="hidden">
                            <input asp-for="@Model.Packet.Products[0].HasAlcohol" type="hidden">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="button-darkgreen"><span>Opslaan</span></button>
                </div>
            }
        </div>
    </div>
</div>
