@model PacketsViewModel
@{
    ViewData["Title"] = "Aanbod";
}

<head>
    <title>Aanbod</title>
</head>

<div class="top-border p-5">
    <h3>Aanbod Pakketten</h3>
    <p class="main-info-text">Too Good To Go biedt pakketten aan om voedselverspilling tegen te gaan. Deze pakketten worden goedkoop aangeboden zodat studenten van Avans Hogeschool hiervan kunnen profiteren! 
        Op deze pagina kan je alle beschikbare pakketten vinden die worden aangeboden bij verschillende kantines. Als je op de Details knop klikt zal je een pagina zien waarop meer informatie is te vinden over het pakket.
        Ook kan je hier het pakket reserveren.
    </p>
    

    <div class="row filter m-lg-4 m-sm-0 mt-2 p-4 gy-3">
        <div class="col-12">
            <h4>Filter</h4>
        </div>
        <div class="col-lg-3 col-md-4 pe-lg-0">
            <div class="select-wrap">
                <label for="mealtype">Type Maaltijd</label>
                <select name="mealtype" id="mealtype" style="width: 100%;">
                    <option style="display:none"></option>
                    <option value="warm">Warm</option>
                    <option value="drinks">Dranken</option>
                    <option value="bread">Brood</option>
                </select>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 ps-lg-0">
            <div class="select-wrap">
                <label for="city">Stad</label>
                <select name="city" id="city" style="width: 100%;">
                    <option style="display:none"></option>
                    <option value="Breda">Breda</option>
                    <option value="Den Bosch">Den Bosch</option>
                    <option value="Tilburg">Tilburg</option>
                </select>
            </div>
        </div>
        <div class="col-lg-12">
            <label for="switch">18+</label>
            <div class="toggle-radio">
                <input type="radio" name="rdo" id="yes" checked>
                <input type="radio" name="rdo" id="no">
                <div class="switch">
                    <label for="yes">Ja</label>
                    <label for="no">Nee</label>
                    <span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row gy-3">
        @foreach (var p in Model?.Packets ?? Enumerable.Empty<Packet>())
        {
            <div class="col-12 packet p-0 p-lg-3">
                @*<img class="box-icon shadow" src="@Url.Content("~/images/Box.png")" />*@
                <div class="product-icon">
                    @if (p.DoesPacketContainAlcohol())
                    {
                        <img class="alcohol-icon" src="@Url.Content("~/images/18-plus.png")" alt="18+ Image" />
                    }
                    <img class="box-icon shadow" src="@Url.Content("~/images/Box.png")" alt="Product Image" />
                </div>
                <div class="packet-text ps-3 pe-2">
                    <h5>@p.Name (@p.FormatDateTime((DateTime) p.PickUpTime))</h5>
                    <p class="packet-text-info">Bestaat onder andere uit: <br/>
                        @for (int i = 0; i < p.Products.Count(); i++) {
                            if (i < 2) {
                                <span>@p.Products.ElementAt(i).Name, </span>
                            }

                            if (i == 3) {
                                <span>@p.Products.ElementAt(i).Name...</span>
                            }
                        }
                        </p>
                    <p class="packet-text-info2 mb-0 mt-2">
                        @for (int i = 0; i < p.Products.Count(); i++)
                        {
                            if (i < 1)
                            {
                                <span>@p.Products.ElementAt(i).Name, </span>
                            }

                            if (i == 2)
                            {
                                <span>@p.Products.ElementAt(i).Name...</span>
                            }
                        }
                        
                    </p>
                    <p class="price mb-0">Prijs: €@p.Price</p>
                </div>

                <div class="packet-right">
                    <div class="pt-4 pt-md-2">
                        <p>Prijs: €@p.Price</p>
                        <a asp-controller="Packet" asp-action="Packets" asp-route-id="@p.Id" class="button-green shadow smaller"><span>Details</span></a>
                    </div>
                </div>
            </div>
            <hr />
        }
    </div>

</div>
