@model PacketViewModel
@{
}
<head>
    <title>@Model.Packet.Name</title>
</head>

<div class="container-fluid">
    <div class="row pt-3 top-border">
        <div class="col-10">
            <nav class="ms-3" aria-label="breadcrumb" style="max-width:90%;">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Packet" asp-action="Packets" asp-route-id="">Aanbod</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Pakket Details</li>
                </ol>
            </nav>
        </div>
    </div>
</div>


<div class="row ms-5 me-5">
    <div class="col-10">
        <h2>Pakket: @Model.Packet.Name</h2>
        <p class="main-info-text">
            Op deze pagina wordt meer informatie gegeven over het pakket. 
            Hierop worden producten getoond wat indicaties zijn voor het daadwerkelijk pakket, 
            waar het pakket beschikbaar is en hoelaat het opgehaald moet worden.
            Ook is de prijs te zien en de mogelijkheid om het pakket te reserveren.
            Let op! Als je nog geen 18 bent mag je ook geen pakket met alcohol reserveren.
        </p>
    </div>

    <div class="col-2">
        <div class="d-flex justify-content-end">
            @if (Model.Packet.ReservedBy == null && User.HasClaim("UserType", "regularuser"))
            {
                <form asp-action="ReservePacket" asp-controller="Packet">
                    <input asp-for="@Model.Packet.Id" value="@Model.Packet.Id" type="hidden" />
                    <button type="submit" class="button-green shadow smaller"><span>Reserveren</span></button>
                </form>
            }
        </div>
        @if (ViewBag.ReserveError != null)
        {
            <p class="mt-2" style="color: red;">Je hebt al een pakket voor deze datum gereserveerd!</p>

            <br />
        }
        @if (ViewBag.ErrorMessage != null)
        {
            <p class="mt-2" style="color: red;">Je bent nog geen 18, dus je mag dit pakket niet reserveren!</p>

            <br />
        }
        <div class="d-flex justify-content-end pt-3">
            <h5>€ @Model.Packet.Price</h5>
        </div>
    </div>

    <div class="col-12 mt-3" style="min-height:535px;">
        <h4>
            Producten<img class="info-icon" src="@Url.Content("~/images/info.png")" />
            <span class="tooltiptext">De aangegeven producten zijn indicaties wat daadwerkelijk in het pakket kan zitten.</span>
        </h4>
        <hr />
        <div class="row mt-4">
            @foreach (var p in Model?.Packet.Products ?? Enumerable.Empty<Product>())
            {
                <div class="col-1">
                    <div class="product-icon">
                        @if (p.HasAlcohol)
                        {
                            <img class="alcohol-icon" src="@Url.Content("~/images/18-plus.png")" alt="18+ Image" />
                        }
                        <img class="card-img-top box-icon shadow" src="@p.Image" alt="Product Image" />
                    </div>
                    <h5 class="card-title">@p.Name</h5>
                </div>
                
            }
        </div>
        <div class="filter mt-3 p-1">
            <h4 class="mt-2 ms-2">Informatie</h4>
            <ul class="list">
                <li>Stad: @Model.fs.ToString(Model.Packet.City.ToString())</li>
                <li>Kantine: @Model.Packet.Canteen.Location</li>
                <li>Ophalen op: @Model.Packet.PickUpTime.Value.ToString("d")</li>
                <li>Ophalen tot: @Model.Packet.LastestPickUpTime.Value.Hour:00</li>
                <li>Soort pakket: @Model.fs.ToString(Model.Packet.MealType.ToString())</li>
                @if (Model.Packet.ContainsAlcohol)
                {
                    <li>Alcohol houdend: Ja</li>
                } else {
                    <li>Alcohol houdend: Nee</li>
                }
            </ul>
        </div>
    </div>
</div>