@model EmployeePacketProductsViewModel
@{
    int ProductCount = 0;
    List<Product> ProductsinPacket = Model.Packet.Products.ToList();
    Model.Packet.Products = new List<Product>();
    DateTime date = DateTime.Now.Date;
}
<head>
    <title>Beheer</title>
</head>

<div class="modal fade" id="@Model.Packet.Name.Replace(" ", "")" tabindex="-1" aria-labelledby="@Model.Packet.Name.Replace(" ", "")" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    @Model.Packet.Name (@Model.fs.FormatDateTime(Model.Packet.PickUpTime.Value))
                    <img class="info-icon" src="@Url.Content("~/images/info.png")" />
                    <span class="tooltiptext">Als een student dit pakket gereserveerd heeft kan deze niet aangepast worden.</span>
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Html.BeginForm("UpdatePacket", "Packet", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row">
                        <input asp-for="@Model.Packet.Id" value="@Model.Packet.Id" type="hidden" />
                        <div class="col-6 input-wrap">
                            <label asp-for="@Model.Packet.Name">Naam</label><br />
                            <input asp-for="@Model.Packet.Name" type="text" class="form-input" value="@Model.Packet.Name" style="width:90%;" />
                        </div>
                        <div class="col-6 input-wrap">
                            <label asp-for="@Model.Packet.Price">Prijs</label><br />
                            <input asp-for="@Model.Packet.Price" type="text" class="form-input" value="@Model.Packet.Price" style="width:90%;" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-6">
                            <div class="select-wrap">
                                <label asp-for="@Model.Packet.MealType" for="mealtype">Type Maaltijd</label>
                                <select asp-for="@Model.Packet.MealType" asp-items="@ViewBag.MealTypeChoices" style="width: 100%;"></select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="select-wrap">
                                <label asp-for="@Model.Packet.City" for="city">Stad</label>
                                <select asp-for="@Model.Packet.City" asp-items="@ViewBag.AllCityChoices" style="width: 100%;"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="select-wrap">
                                <label asp-for="@Model.Packet.CanteenId" for="canteen">Kantine</label>
                                <select asp-for="@Model.Packet.CanteenId" asp-items="@ViewBag.AllLocationChoices" style="width: 100%;"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="select-wrap">
                                <label asp-for="@Model.Packet.PickUpTime">Ophaal datum</label>
                                <select asp-for="@Model.Packet.PickUpTime" style="width: 100%;">
                                    <option value="@DateTime.Now">@DateTime.Now.ToString("d")</option>
                                    <option value="@DateTime.Now.AddDays(1)">@DateTime.Now.AddDays(1).ToString("d")</option>
                                    <option value="@DateTime.Now.AddDays(2)">@DateTime.Now.AddDays(2).ToString("d")</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="select-wrap">
                                <label asp-for="@Model.Packet.LastestPickUpTime">Ophalen tot tijdstip</label>
                                <select asp-for="@Model.Packet.LastestPickUpTime" style="width: 100%;">
                                    <option value="@date.AddHours(12)">12:00</option>
                                    <option value="@date.AddHours(15)">15:00</option>
                                    <option value="@date.AddHours(17)">17:00</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="col-lg-12">
                                <input asp-for="@Model.Packet.ContainsAlcohol" type="checkbox" class="contains-alcohol" checked="@Model.Packet.ContainsAlcohol" />
                                <label asp-for="@Model.Packet.ContainsAlcohol" for="checkbox">Bevat alcohol</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-10">
                            <input class="form-input" type="text" placeholder="Zoek hier naar producten" style="width: 99%;" />
                        </div>
                        <div class="col-1 mt-2">
                            <button type="submit" class="modal-button">
                                <img class="admin-icon-smaller" src="@Url.Content("~/images/search.png")" />
                            </button>
                        </div>
                        <div class="col-12 mt-2" style="overflow-y: scroll; height:285px;" id="products-@Model.Packet.Id">
                            @foreach (var product in Model.Products)
                            {
                                <div class="col-12 product-admin p-0">
                                    <img class="box-icon shadow" src="@product.Image" style="max-height:75px;" />
                                    <div class="packet-text ps-3 pe-2">
                                        <h5>@product.Name</h5>
                                    </div>

                                    <div class="packet-right">
                                        @if (ProductsinPacket.Contains(product))
                                        {
                                            product.IsChecked = true;
                                            Model.Packet.Products.Add(product);
                                            <input asp-for="@Model.Packet.Products[ProductCount].Id" type="hidden">
                                            <input asp-for="@Model.Packet.Products[ProductCount].Name" type="hidden">
                                            <input asp-for="@Model.Packet.Products[ProductCount].Image" type="hidden">
                                            <input asp-for="@Model.Packet.Products[ProductCount].HasAlcohol" type="hidden">
                                            <input asp-for="@Model.Packet.Products[ProductCount].IsChecked" type="checkbox" checked="checked">
                                            <input asp-for="@Model.Packet.Products[ProductCount].Packets" type="hidden">
                                            ProductCount++;
                                        }
                                        else
                                        {
                                            product.IsChecked = false;
                                            Model.Packet.Products.Add(product);
                                            <input asp-for="@Model.Packet.Products[ProductCount].Id" type="hidden">
                                            <input asp-for="@Model.Packet.Products[ProductCount].Name" type="hidden">
                                            <input asp-for="@Model.Packet.Products[ProductCount].Image" type="hidden">
                                            <input asp-for="@Model.Packet.Products[ProductCount].HasAlcohol" type="hidden">
                                            <input asp-for="@Model.Packet.Products[ProductCount].IsChecked" type="checkbox">
                                            <input asp-for="@Model.Packet.Products[ProductCount].Packets" type="hidden">
                                            ProductCount++;
                                        }
                                    </div>
                                </div>
                                <hr />
                            }
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @if(Model.Packet.ReservedBy != null) {
                        <button type="submit" class="button-disabled" disabled><span>Opslaan</span></button>
                    } else {
                        <button type="submit" class="button-green"><span>Opslaan</span></button>
                    }
                </div>
            }
        </div>
    </div>
</div>


